@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

body {
    font-family: Poppins;
}
#searchInput {
    width: 100%;
}

.sliderThumbnail {
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.active-vote {
    background-color: lightblue;
    border: 1px solid grey;
}

.rating-stars {
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: pointer;
}
.rating-stars>a.vote-star:hover,
.rating-stars>a.vote-star:hover~a.vote-star {
    background-color: orange;
}

.star-activated {
    background-color: yellow;
}

.suggestions-dropdown {
    position: absolute;
    z-index: 1000;
    top: calc(26px + 0.75rem);
    left: 1px;
    border: 1px solid #ced4da;
    border-top: 0px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    width: 100%;
    background: white;
}

.suggestions-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestions-dropdown ul a {
    text-decoration: none;
    color: inherit;
    padding: 0.375rem 0.75rem;
    width: 100%;
    display: inline-block;
}

.active-suggestion {
    background-color: #0d6efd;
    color: white;
}

#popup textarea {
    width: 100%;
    min-height: 150px;
}

.comment {
    position: relative;
    border-top: 1px solid grey;
    padding: 2em;
}

.comment>img {
    position: relative;
    float: left;
    border-radius: 50%;
    margin-right: 2em;
    margin-bottom: 2em;
}
.comment>.create_date {
    margin-bottom: 1rem;
}
.comment::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-brand>img{
    max-width: 180px;
    width: auto;
}

#topNavbar {
    font-family: 'Poppins', sans-serif;
}


.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23051320' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler[aria-expanded="true"]>.navbar-toggler-icon {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23051320'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e"); center auto no-repeat;
}


#topNavbar.navbar-collapse,
#topNavbar.navbar-collapse.show+div .navbar-nav,
#topNavbar.navbar-collapse.collapsing+div .navbar-nav{
    text-align: center;
    font-size: 3rem;
}


.navbar-toggler,
.navbar-toggler>.navbar-toggler-icon {
    border: 0px solid transparent;
    box-shadow: none !important;
}
#topMenuBar {
    background-color: white;
}
#topMenuBar,
#topMenuBar .container,
#topMenuBar .container-fluid {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}


#topNavbar.navbar-collapse.show .navbar-nav a,
#topNavbar.navbar-collapse.collapsing .navbar-nav a,
#topNavbar.navbar-collapse.show+div .navbar-nav a,
#topNavbar.navbar-collapse.collapsing+div .navbar-nav a {
    background-color: #FDF8EB;
}


#topNavbar.navbar-collapse.show+div,
#topNavbar.navbar-collapse.collapsing+div {
    flex-basis: 100%;
    flex-grow: 1;
}

#topNavbar.navbar-collapse .navbar-nav a,
#topNavbar.navbar-collapse.show+div .navbar-nav a,
#topNavbar.navbar-collapse.collapsing+div .navbar-nav a{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header .search-group {
    position: relative;
    margin: 125px 10% 0 10%;
}

@media (min-width: 768px) {

    .header .search-group {
        margin: 125px 10% 0 30%;
    }
}
@media (min-width: 992px) {
    #topMenuBar,
    #topMenuBar .container,
    #topMenuBar .container-fluid {
        max-width: 1320px;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }

    #topNavbar.navbar-collapse,
    #topNavbar.navbar-collapse.show+div .navbar-nav,
    #topNavbar.navbar-collapse.collapsing+div .navbar-nav{
        background-color: transparent;
        font-size: 1rem;
    }

    #topNavbar.navbar-collapse+div,
    #topNavbar.navbar-collapse+div {
        flex-basis: auto;
        flex-grow: 0;
    }

    .header .search-group {
        margin: 125px 10% 0 50%;
    }
}

body {
    background-color: #FDF8EB;
}

.header {
    background-color: #F9D2C0;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 5px 5px black;
    height: 300px;
}
.header {
    margin: 0 0 3rem;
}
#search-input {
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 5px 5px black;
}

h1.homepage_title {
    display: inline-block;
    background: #FCF0B3;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 7.5px;
    padding: 12px 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 3rem;
    color: #F2522F;
    letter-spacing: 0em;
}

h1.homepage_title.petition_title {
    color: white;
    background-color: #2E39F6;
}

.sliderThumbnail {
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;
}

.image_and_vote_buttons {
    position: relative;
    margin-bottom: 4rem;
}
.upvote_button, .downvote_button {
    position: absolute;
    display: inline-block;
    width: 68.79px;
    height: 68.79px;
    bottom: -34px;
    left: 0px;
    border-radius: 7.5px;
    box-shadow: 5px 5px black;
    background-color: #BAEB0D;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 4px;
}
.downvote_button {
    left: auto;
    right: 0px;
    background-color: #F2522F;
}
.upvote_button>img {
    margin-top: 5px;
}

.upvote_button:hover,
.upvote_button.active-vote {
    background: repeating-linear-gradient(
        45deg,
        #BAEB0D,
        #BAEB0D 10px,
        #d7ff3d 10px,
        #d7ff3d 20px
    );
}
.downvote_button:hover,
.downvote_button.active-vote {
    background: repeating-linear-gradient(
        -45deg,
        #F2522F,
        #F2522F 10px,
        #ff6f47 10px,
        #ff6f47 20px
    );
}


.detail_div {
    padding-bottom: 3rem;
}
.detail_div a {
    text-decoration: none;
    color: inherit;
}
.detail_div h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}

.detail_div p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.detail_div .know-more>a {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    box-shadow: 3px 3px black;
}

.show_more_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.show_more_div a {
    color: #F2522F;
    background: #FCF0B3;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    box-shadow: 3px 3px black;
    text-decoration: none;
}

.sign_petition_div {
    position: relative;
}

.sign_petition_div a {
    position: relative;
    top: -2rem;
    width: 100%;
    display: inline-block;
    background: #2E39F6;
    border: 1px solid #051320;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF !important;
    padding: 1rem 2rem;
    box-shadow: 3px 3px black;
    text-align: center;
}

#new_petition {
    text-align: center;
    margin: 5rem 0;
}
#new_petition a {
    display: inline-block;
    background: #F42C2C;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    padding: 15px 65px;
    box-shadow: 3px 3px black;
    color: #FCF0B3;
}

#logo {
    position: relative;
    margin-bottom: 25px;
}

#city {
    background: #FFFFFF;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    padding: 1px 12px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 70px;
}

.modal-content {
    background-color: #FDF8EB;
}
#popup_content {
    text-align: center;
}


#popup_close {
    width: 52px;
    height: 52px;
    margin: 22px 0 22px calc(100% - 74px);
}

.popup_center_image {
    padding-bottom: 2rem;
    max-width: 66%;
}

.textarea_group > textarea {
    border: 0px;
}
.textarea_group > label {
}

.textarea_group {
    background-color: white;
    text-align: left;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    padding: 10px;
}

.modal-footer {
    text-align: center;
    display: inline;
    border-top: 0;
}
#popup_next_button {
    background: #DCFF97;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FF3EC0;
}


.popup_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #051320;
}

.create_petition_from_popup {
    display: inline-block;
    background: #F42C2C;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    padding: 15px 65px;
    box-shadow: 3px 3px black;
    color: #FCF0B3;
    margin-top: 1rem;
    margin-left: 12.5%;
    width: 75%;
}
.create_petition_from_popup:hover {
    text-decoration: none;
    color: #FCF0B3;
}

.syndication_p {
    margin-top: 1rem;
}
.syndication_p > a {
    color: white;
    background: #051320;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    box-shadow: 3px 3px black;
}

.result_div_positive {
    margin-bottom: 1rem;
}
.result_div_positive img,
.result_div_negative img {
    height: 50px;
    background: #F2522F;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 3px 3px black;
}
.result_div_positive img {
    background: #BAEB0D;
    padding-top: 7.5px;
}
.result_div_positive span,
.result_div_negative span {
    display:inline-block;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12.5px 5rem 5px 20px;
    width: calc(100% - 55px);
    height: 50px;
    box-shadow: 3px 3px black;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.changement {
    max-width: 50%;
    margin:0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #051320;
    background-color: white;
    border: 1px solid #051320;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px black;
    padding: 10px 17px;
    margin-bottom: 3rem;
}
.changement img {
    height: 30px;
}

.center_image {
    display: inline-block;
    width: 60%;
    margin-left: 15%;
    margin-bottom: 3rem;
}

.form_row label {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #051320;
    margin-bottom: 0.5rem;

}



.form_row input {
    background: #FFFFFF;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.account_button {
    background: #7D18D7;
    color: white;
    border: 1px solid #051320;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.sso_login_icon {
    display: inline-block;
    background: black;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    text-decoration: none;
}
.sso_login_icon:hover {
    text-decoration: none;
    color: white;
}



.account_secondary_button {
    display: inline-block;
    background: #DCFF97;
    color: #FF3EC0;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    text-decoration: none;
}
.account_secondary_button:hover {
    text-decoration: none;
    color: #FF3EC0;
}

.signature_popup_image {
    width: 60%;
}
