body {
}

#searchInput {
    width: 100%;
}
.row-slider {
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row-slider>div {
    position: relative;
    width: 33%;
    float: left;
    margin-right: 5%
}

.sliderThumbnail {
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.row-slider a {
    text-decoration: none;
    color: inherit;
}
a.upvote,a.downvote {
    padding: 0.075em 0.35em;
}
.active-vote {
    background-color: lightblue;
    border: 1px solid grey;
}

.rating-stars {
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: pointer;
}
.rating-stars>a.vote-star:hover,
.rating-stars>a.vote-star:hover~a.vote-star {
    background-color: orange;
}

.star-activated {
    background-color: yellow;
}

.suggestions-dropdown {
    position: absolute;
    z-index: 1000;
    top: calc(26px + 0.75rem);
    left: 1px;
    border: 1px solid #ced4da;
    border-top: 0px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    width: 100%;
    background: white;
}

.suggestions-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestions-dropdown ul a {
    text-decoration: none;
    color: inherit;
    padding: 0.375rem 0.75rem;
    width: 100%;
    display: inline-block;
}

.active-suggestion {
    background-color: #0d6efd;
    color: white;
}

#popup textarea {
    width: 100%;
    min-height: 150px;
}
