body {
}

#searchInput {
    width: 100%;
}
.row-slider {
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row-slider>div {
    position: relative;
    width: 33%;
    float: left;
    margin-right: 5%
}

.sliderThumbnail {
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.row-slider a {
    text-decoration: none;
    color: inherit;
}
a.upvote,a.downvote {
    padding: 0.075em 0.35em;
}
.active-vote {
    background-color: lightblue;
    border: 1px solid grey;
}

.rating-stars {
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: pointer;
}
.rating-stars>a.vote-star:hover,
.rating-stars>a.vote-star:hover~a.vote-star {
    background-color: orange;
}

.star-activated {
    background-color: yellow;
}
