{% extends "mainApp/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {% if form.errors %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ form.non_field_errors }}</strong>
                    </div>
                {% else %}
                    {% for error in form.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                   {% endfor %}
                {% endif %}
            {% endif %}

            {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} pb-0" role="alert">
                      <p>{{ message }}</p>
                  </div>
                  {% endfor %}
              {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Vous n’êtes pas autorisé à accéder à cette page. Souhaitez-vous vous connecter avec un autre compte utilisateur ? </p>
                {% else %}
                <p>Merci de vous authentifier pour consulter la page demandée:
                </p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'mainApp:account_create' %}">Créer un compte</a> <a href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-sm-12">
            <a href="{% url "social:begin" "google-oauth2" %}">Google</a>
            <a href="{% url "social:begin" "facebook" %}">Facebook</a>
            <a href="{% url "social:begin" "linkedin-oauth2" %}">LinkedIn</a>
        </div>
    </div>
</div>
{% endblock %}
