{% extends "mainApp/base.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <img src="/static/mainApp/images/forgotten_password.png" alt="" class="center_image"/>
            <p>Insérez votre adresse e-mail ci-dessous et vous recevrez les instructions de réinitialisation par e-mail.</p>

            <form method="POST">
                {% csrf_token %}
                <div class="form_row">
                    <label>Adresse e-mail:</label>
                    {{ form.email }}
                </div>
                <input type="submit" value="Demander un nouveau mot de passe" class="account_button">
            </form>
        </div>
    </div>
</div>
{% endblock %}
