{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Citympact est une plateforme numérique visant à augmenter la faible participation politique au niveau communal de la Génération Z en Suisse. Pour ce faire, elle permet aux jeunes de donner directement leur avis sur des projets concrets soumis par les collectivités publiques et de signer ou lancer des pétitions pour faire changer les choses. Les résultats sont directement transmis aux personnes en charges de ces sujets auprès des communes. De cette manière, les collectivités publics bénéficient d’un canal de communication directe avec leurs nouvelle génération de citoyens et recréer de l’engagement avec les thèmes de politique communale.</p>
            <p>Notre équipe a conçu Citympact après avoir constaté un décalage entre le désir d’impact politique de la jeunesse suisse et sa faible utilisation des outils politiques à sa disposition. Les jeunes s’engagent dans des causes politiques de manière originale sur les plateformes de médias sociaux. Mais, simultanément, le taux de participation aux élections municipales suisses a chuté de plus de 40% au cours des 30 dernières années. C’est inquiétant car, comme la Suisse consulte ses citoyens et citoyennes plus que tout autre pays, un faible taux de participation signifie qu’une petite fraction de la population détermine les résultats d’une myriade de questions clés pour l’ensemble du pays. Cela pourrait même conduire à l’effondrement de notre système démocratique.</p>
            <p>Conformément au 16e objectif de développement durable des Nations Unies, qui appelle explicitement à « l’accès du public à l’information » et à « une prise de décision représentative », nous sommes convaincus que Citympact comblera ce fossé et relancera la participation politique en Suisse.</p>
            <h3 class="pt-5">Crédits</h3>
            <p>Icônes: <a href="https://www.flaticon.com/" target="_blank">https://www.flaticon.com/</a> <br>
            Illustrations: <a href="https://storyset.com/" target="_blank">https://storyset.com/</a></p>
        </div>
    </div>
</div>
{% endblock %}
