{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/main.css' %}">
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid mb-5" id="topMenuBar">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid pt-2 pb-2">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand mx-auto" href="/" id="logo"><img src="/static/mainApp/images/citympact.png" alt="citympact" /><span id="city">St-Maurice</span></a>

                <div class="collapse navbar-collapse ms-lg-5" id="topNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">À propos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Contact</a>
                    </li>
                  </ul>
                </div>

                <div class="" id="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mainApp:accounts_profile' %}">{% if user.is_authenticated %}Mon Compte{% else %}Se connecter{% endif %}</a>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
        </div>
      </div>
    {% if message %}
        <div class="alert alert-{{ message.severity }}" role="alert">
        {{ message.content }}
        </div>
    {% endif %}

    {% block content %}{% endblock %}


    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <img src="static/mainApp/images/close.png" alt="close" class="" id="popup_close">
          <div class="modal-body" id="popup_content"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="popup_next_button">Suivant</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'mainApp/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'mainApp/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'mainApp/js/main.js' %}"></script>
</body>
</html>
