{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/main.css' %}">
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
</head>

<body>
    {% if message %}
        <div class="alert alert-{{ message.severity }}" role="alert">
        {{ message.content }}
        </div>
    {% endif %}

    {% block content %}{% endblock %}


    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popup_title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>
          <div class="modal-body" id="popup_content"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="popup_close_button">Fermer</button>
            <button type="button" class="btn btn-primary" id="popup_next_button">Suivant</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'mainApp/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'mainApp/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'mainApp/js/main.js' %}"></script>
</body>
</html>
