{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/main.css' %}">
    <title>{% block title %}{{ APP_NAME }} - {% if page_title %}{{ page_title|striptags }}{% else %}{{ CITY_NAME }}{% endif %}{% endblock %}</title>
    {% if not "localhost" in request.build_absolute_uri and not "127.0.0.1" in request.build_absolute_uri %}
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TVXLC6B');
        </script>
    	<script>
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};

            ttq.load('CDV1MORC77UDDKL3GBRG');
            ttq.page();
            }(window, document, 'ttq');
        </script>

    {% endif %}

</head>

<body class="{{ body_class }}">
    {% if not "localhost" in request.build_absolute_uri and not "127.0.0.1" in request.build_absolute_uri %}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVXLC6B"
        height="0" width="0" style="display:none;visibility:hidden;"></iframe></noscript>
    {% endif %}
    <div class="container-fluid mb-5" id="topMenuBar">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid pt-2 pb-2">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand mx-auto" href="/" id="logo"><img src="/static/mainApp/images/citympact.png" alt="citympact" /><span id="city">{{ CITY_NAME }}</span></a>

                <div class="collapse navbar-collapse ms-lg-5" id="topNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about.html">À propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">Contact</a>
                    </li>
                  </ul>
                </div>

                <div class="" id="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mainApp:accounts_profile' %}">{% if user.is_authenticated %}Mon compte ({{ user.first_name }}){% else %}S'identifier{% endif %}</a>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
        </div>
      </div>

    {% block content %}{% endblock %}


    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <img src="/static/mainApp/images/close.png" alt="close" class="" id="popup_close">
          <div class="modal-body" id="popup_content"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="popup_next_button">Suivant</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'mainApp/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'mainApp/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'mainApp/js/main.js' %}"></script>
    {% if include_manager_js %}
    <script src="{% static 'mainApp/js/manager.js' %}"></script>
    {% endif %}
</body>
</html>
