<div class="comment">
    <img src="{{ profile_picture }}" alt="profile" />
    <div class="comment_author_div">
        <span class="fs-3">{{ author_name }}</span>
        {% if validated_details %}
            <span class="badge rounded-pill bg-secondary">{{ validated_details }}</span>
        {% else %}
            <span class="badge rounded-pill bg-primary">Utilisateur enregistré</span>
        {% endif %}
    </div>
    <p class="create_date">{{ create_date }}
    </p>
    <p>{{ comment|linebreaksbr }}</p>
</div>
