{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ title }}</h1>
            {% if image %}
                <img src="{{ image.url|thumbnailize }}" alt="{{ title }}" alt="" class="sliderThumbnail"/>
            {% endif %}
            <p>{{ description }}</p>
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-secondary mb-4" id="comment_toggle_button">Ajouter un commentaire</button>
            <form id="comment_add" style="display: none;"
                action="{% url 'mainApp:addNewComment' %}"
                method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row pb-4">
                    <div class="col-sm-12  mb-4">
                        <textarea name="comment" rows="8" cols="80" class="form-control"></textarea>
                        <div class="invalid-feedback">
                            Merci d'insérer un commentaire.
                        </div>
                    </div>
                    {% if comment_user_name %}
                        <div class="col-sm-12"><input type="checkbox" name="publish_name" id="publish_name" checked="checked">  <label for="publish_name">Poster ce commentaire avec votre nom ({{ comment_user_name }}) ?</label><br><small>Les commentaires anonymes sont soumis à une validation et ne sont affichés qu'après leur approbation.</small>
                        </div>
                    {% else %}
                    <small>Votre commentaire sera publié anonymement mais sera soumis à approbation. Si vous ne voulez pas attendre cette validation, vous pouvez <a href="{% url 'login' %}?next={{ login_next_url }}">vous authentifier ici</a>.</small>
                    </div>
                    {% endif %}
                    <input type="hidden" name="model_name" value="{{ model_name }}" />
                    <input type="hidden" name="id" value="{{ id }}" />
                    <div class="col-sm-12 mt-3 mb-3">
                        <button type="submit" class="btn btn-primary">Poster un commentaire</button>
                    </div>


            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="comments_div">
            {% for comment in comments %}
                {{ comment }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
