{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="{{ title_css_class }}">{{ title }}</h1>

            <h2 class="detail_subtitle">{{ subtitle }}</h2>
            {% if image %}
                <img src="{{ image.url|thumbnailize }}" alt="{{ title }}" alt="" class="detail_image"/>
            {% endif %}
            <p>{{ description }}</p>

            <h2 class="detail_subtitle">Informations</h2>
            {% if up_votes %}
            <div class="detail_info_item">
                <img class="bg_green" src="/static/mainApp/images/upvote.png" alt="" />
                <span>{{ up_votes }} votes positifs</span>
            </div>
            {% endif %}
            {% if down_votes %}
            <div class="detail_info_item">
                <img class="bg_red" src="/static/mainApp/images/downvote.png" alt="" />
                <span>{{ down_votes }} votes négatifs</span>
            </div>
            {% endif %}
            <div class="detail_info_item">
                <img class="bg_purple" src="/static/mainApp/images/calendar.png" alt="" />
                <span>Créé le {{ create_date }}</span>
            </div>
            <div class="detail_info_item">
                <img class="bg_blue" src="/static/mainApp/images/eye.png" alt="" />
                <span>{{ views_count }} vues</span>
            </div>
            <div class="detail_info_item">
                <img class="bg_yellow" src="/static/mainApp/images/circle_star.png" alt="" />
                <span>{{ ranking }} {{ detail_type_text }} populaire</span>
            </div>
            {% if signatures %}
            <div class="detail_info_item">
                <img class="bg_green" src="/static/mainApp/images/sign.png" alt="" />
                <span>{{ signatures }} signatures</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="detail_subtitle pt-5">Commentaires</h2>
            <button class="add_comment_button" id="comment_toggle_button"><img src="/static/mainApp/images/comment.png" alt="" /> Ajouter un commentaire</button>
            <div id="message_div"></div>
            <form id="comment_add" style="display: none;"
                action="{% url 'mainApp:addNewComment' %}"
                method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row pb-4">
                    <div class="col-sm-12  mb-4">
                        <textarea name="comment" rows="8" cols="80" class="form-control" id="add_comment_textarea"></textarea>
                        <div class="invalid-feedback">
                            Merci d'insérer un commentaire.
                        </div>
                    </div>
                    {% if comment_user_name %}
                        <div class="col-sm-12"><input type="radio" name="publish_name" id="publish_name_true" value="true" checked="checked">  <label for="publish_name_true">Poster ce commentaire avec votre nom ({{ comment_user_name }}) ?</label>
                        </div>
                        <div class="col-sm-12">
                        <input type="radio" name="publish_name" id="publish_name_false" value="false">  <label for="publish_name_false">Poster ce commentaire sans afficher votre nom?</label><br><small class="ps-3">Les commentaires anonymes sont soumis à une validation et ne sont affichés qu'après leur approbation.</small>
                        </div>
                    {% else %}
                    <small>Votre commentaire sera publié anonymement mais sera soumis à approbation. Si vous ne voulez pas attendre cette validation, vous pouvez <a href="{% url 'login' %}?next={{ login_next_url }}">vous authentifier ici</a>.</small>
                    </div>
                    {% endif %}
                    <input type="hidden" name="model_name" value="{{ model_name }}" />
                    <input type="hidden" name="id" value="{{ id }}" />
                    <div class="col-sm-12 mt-3 mb-3">
                        <button type="submit" class="account_button">Poster un commentaire</button>
                    </div>


            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="comments_div">
            {% for comment in authenticated_comments %}
                {{ comment }}
            {% endfor %}
            {% for comment in anynymous_comments %}
                {{ comment }}
            {% endfor %}
        </div>
    </div>
</div>
<div id="new_petition"><a href="{% url "mainApp:addNewPetition" %}">Lancer une pétition</a></div>
{% endblock %}
