{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="bg-white p-5 rounded shadow">
            <form action="">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Que veux tu changer dans ta ville?" aria-label="Que veux tu changer dans ta ville?" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Chercher</button>
                </div>
            </form>

        </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Que penses-tu de ces projets?</h1>
            {% if last_projects %}
                <ul>
                {% for project in last_projects %}
                    <li><a href="{% url 'mainApp:detail' project.id %}"><img src="{{ project.image.url|thumbnailize }}" alt="{{ project.title }}" alt="" /></a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Il n'y a pas encore de projets.</p>
            {% endif %}

            <p>Wanna <a href="{% url "mainApp:addNewProject" %}">add a new project</a>?</p>
        </div>
    </div>
</div>




{% endblock %}
