{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}

<input type="hidden" id="vote_csrf_token" value="{{ csrf_token }}" />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="header">
                <div class="search-group">
                  <input type="text" class="form-control" placeholder="Que veux tu changer dans ta ville?" aria-label="Que veux tu changer dans ta ville?" aria-describedby="button-addon2" id="search-input" autocomplete="off">
                  <div class="suggestions-dropdown" style="display: none;">
                      <ul>
                          <li><a href="{% url 'mainApp:addNewPetition' %}">>> Propser une pétition</a></li>
                      </ul>
                  </div>
                </div>

        </div>
    </div>
  </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="homepage_title">Que penses-tu de ces projets?</h1>
            {% if projects_votes %}
                <div class="row detail_row">
                    {% for project, voteClasses in projects_votes %}
                        <div data-project-id="{{ project.pk }}" data-project-vote="{{ vote }}" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 detail_div">
                            <div class="image_and_vote_buttons">
                                <a href="{% url 'mainApp:projectDetail' project.id %}"><img src="{{ project.image.url|thumbnailize }}" alt="{{ project.title }}" alt="" class="sliderThumbnail"/></a>
                                <a class="upvote_button {{ voteClasses.0 }}" href="#"><img src="static/mainApp/images/upvote.png" alt="" height="66"></a>
                                <a class="downvote_button {{ voteClasses.1 }}" href="#"><img src="static/mainApp/images/downvote.png" alt="" height="66"></a>
                            </div>
                            <h2><a href="{% url 'mainApp:projectDetail' project.id %}">{{ project.title }}</a></h2>
                            <p>{{ project.summary }}</p>
                            <div class="know-more"><a href="{% url 'mainApp:projectDetail' project.id %}">En savoir plus</a></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="show_more_div"><a href="#" data-toggle-text="Montrer moins d'éléments">Afficher plus de projets</a></div>
            {% else %}
                <p>Il n'y a pas encore de projets.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="homepage_title petition_title">Donne ton avis - pétitions en cours</h1>
            {% if petitions %}
                <div class="row detail_row">
                    {% for petition in petitions %}
                        <div data-petition-id="{{ petition.pk }}" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 detail_div">
                            {% if petition.image %}
                                <a href="{% url 'mainApp:petitionDetail' petition.id %}"><img src="{{ petition.image.url|thumbnailize }}" alt="{{ petition.title }}" alt="" class="sliderThumbnail"/></a>
                            {% endif %}
                            <div class="sign_petition_div"><a href="#"><img src="static/mainApp/images/sign.png" alt="" height="25"> Signer la pétition</a></div>
                            <h2><a href="{% url 'mainApp:petitionDetail' petition.id %}">{{ petition.title }}</a>
                            </h2>
                            <p class="">{{ petition.summary }}</p>
                            <div class="know-more"><a href="{% url 'mainApp:petitionDetail' petition.id %}">En savoir plus</a></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="show_more_div"><a href="#" data-toggle-text="Montrer moins d'éléments">Afficher plus de pétitions</a></div>
            {% else %}
                <p>Il n'y a pas encore de pétitions.</p>
            {% endif %}

            <div id="new_petition"><a href="{% url "mainApp:addNewPetition" %}">Lancer une pétition</a></div>
        </div>
    </div>
</div>

{% endblock %}
