{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="bg-white p-5 rounded shadow">
            <form action="">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Que veux tu changer dans ta ville?" aria-label="Que veux tu changer dans ta ville?" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Chercher</button>
                </div>
            </form>

        </div>
    </div>
  </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pt-3 pb-2">Que penses-tu de ces projets?</h1>
            {% if last_projects %}
                <div class="row row-slider">
                    {% for project in last_projects %}
                        <div>
                            <a href="{% url 'mainApp:detail' project.id %}"><img src="{{ project.image.url|thumbnailize }}" alt="{{ project.title }}" alt="" class="sliderThumbnail"/></a>
                            <h2><a href="{% url 'mainApp:detail' project.id %}">{{ project.title }}</a> <a href="#">+</a> <a href="#">-</a></h2>
                            <p>{{ project.description }}</p>
                            <p><a href="#">En savoir plus</a></p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Il n'y a pas encore de projets.</p>
            {% endif %}

            <p>Wanna <a href="{% url "mainApp:addNewProject" %}">add a new project</a>?</p>
        </div>
    </div>
</div>




{% endblock %}
