{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}

<input type="hidden" id="vote_csrf_token" value="{{ csrf_token }}" />
<div class="container pb-5">
  <div class="row">
    <div class="col-sm-12">
        <h1>Gestion des interactions</h1>
        {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} pb-0" role="alert">
                  <p>{{ message }}</p>
              </div>
              {% endfor %}
          {% endif %}
    </div>
    <div class="col-sm-6">
        <h3>Nouveaux commentaires</h3>
        <p>Aucun commentaire à valider</p>
    </div>
    <div class="col-sm-6">
        <h3>Nouvelles propositions</h3>
        <p>Aucune proposition à valider</p>
        </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 pb-5">
        <h2>Managers</h2>
        <ul>
            {% for manager in managers %}
                <li>{{manager.first_name}} {{manager.last_name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-6">
      <h2>Projets</h2>
      {% for project, vote, comments, answers in projects_data %}
          <p><strong>{{ project.title }}</strong>
          <ul>
              <li>Vote: {{ vote }} - {{ project.views }} vue(s)</li>
              <li>{{ comments|length }} commentaire(s) - {{ answers|length }} réponse(s)</li>
          </ul>
          </p>
      {% endfor %}
    </div>
    <div class="col-sm-6">
        <h2>Propositions</h2>
        {% for proposition, signatures in propositions_data %}
            <p><strong>{{ proposition.title }} - {% if proposition.approved %} <span class="badge bg-primary">Approuvé</span>{% else %}<span class="badge bg-secondary">Non affiché</span>{% endif %}</strong>
            <ul>
                <li>{{ proposition.views }} vue(s)</li>
                <li>{{ signatures|length }} signature(s)</li>
            </ul>
            </p>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
