{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}

<input type="hidden" id="vote_csrf_token" value="{{ csrf_token }}" />
<div class="container pb-5">
  <div class="row">
    <div class="col-sm-12">
        <h1>Gestion des interactions</h1>
        {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} pb-0" role="alert">
                  <p>{{ message }}</p>
              </div>
              {% endfor %}
          {% endif %}
    </div>
    <div class="col-sm-6">
        <h3>Nouveaux commentaires</h3>
        {% if comments_under_review %}
            {% for comment in comments_under_review %}
                <div class="manage_group_div">
                    <p><strong>Commentaire {% if comment.user %} anonymisé (de  {{comment.user}}){% else %} anonyme {% endif %}
                    </strong><br>{{comment.create_datetime}}<br><strong>{% if comment.project %}Projet: {{ comment.project }}{% elif comment.proposition %}Proposition: {{ comment.proposition}}{% endif %}</strong></p>
                    <p>{{comment.comment}}</p>
                    <p><a class="manage_comment btn btn-outline-primary btn-sm" href="#" role="button" data-comment-id="{{comment.id}}" data-type="{{comment|to_class_name}}" data-action="approve">Approver</a> <a class="manage_comment btn btn-outline-secondary btn-sm" href="#" role="button" data-comment-id="{{comment.id}}" data-type="{{comment|to_class_name}}" data-action="refuse">Refuser</a> </p>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire à valider</p>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <h3>Nouvelles propositions</h3>
        {% if propositions_under_review %}
            {% for proposition in propositions_under_review %}
                <div class="manage_group_div">
                    <p><strong>{{ proposition.title }}</strong><br>
                    Proposé par {% if proposition.author %} {{proposition.author}}{% else %} un visiteur anonyme {% endif %}
                    <br> {{proposition.create_datetime}}</p>
                    <p>{{proposition.description}}</p>
                    <p><a class="manage_proposition btn btn-outline-primary btn-sm" href="#" role="button" data-proposition-id="{{proposition.id}}" data-action="approve">Approver</a> <a class="manage_proposition btn btn-outline-secondary btn-sm" href="#" role="button" data-proposition-id="{{proposition.id}}" data-action="refuse">Refuser</a> </p>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune proposition à valider</p>
        {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 pb-5">
        <h2>Managers</h2>
        <ul>
            {% for manager in managers %}
                <li>{{manager.first_name}} {{manager.last_name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-6">
      <h2>Projets</h2>
      {% for project, vote, comments, questions_answers, answers_qty in projects_data %}
          <div class="manage_group_div">
              <p><strong>{{ project.title }}</strong>
              <ul>
                  <li>{{ proposition.views }} vue(s)</li>
                  <li>{{ comments|length }} commentaire(s)</li>
                  <li>{{ vote }}</li>
                  <li>{{questions_answers|length}} question(s) - {{ answers_qty }} réponse(s)</li>
                  {% if questions_answers %}
                  <ul>
                      {% for question, aggregated_answers in questions_answers.items %}
                      <li>{{ question }}</li>
                      <ul>
                          {% for aggregated_answer in aggregated_answers %}
                            <li>{{ aggregated_answer }}</li>
                          {% endfor %}
                      </ul>
                      {% endfor %}
                  </ul>
                  {% endif %}
              </ul>
              </p>
          </div>
      {% endfor %}
    </div>
    <div class="col-sm-6">
        <h2>Propositions</h2>
        {% for proposition, signatures, comments in propositions_data %}
            <div class="manage_group_div">
                <p><strong>{{ proposition.title }} - {% if proposition.approved %} <span class="badge bg-primary">Approuvé</span>{% else %}<span class="badge bg-secondary">Non affiché</span>{% endif %}</strong>
                <ul>
                    <li>{{ proposition.views }} vue(s)</li>
                    <li>{{ comments|length }} commentaire(s)</li>
                    <li>{{ signatures|length }} signature(s)</li>
                </ul>
                </p>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
