{% extends "mainApp/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <img src="/static/mainApp/images/new_proposition.png" alt="" class="center_image"/>
            <form action="{% url "mainApp:addNewProposition" %}" method="POST"
                enctype="multipart/form-data" class="citympact_validated_form" >

                {% csrf_token %}
                <div class="form_row">
                    <label>Titre de la proposition:</label>
                    <input type="text" name="title" value="{{ title }}" size="50" class="form-control" />
                    <div class="invalid-feedback">
                       Please choose a username.
                    </div>
                </div>
                <div class="form_row">
                    <label>Image de la proposition:</label>
                    <input type="file" name="image" />
                </div>
                <div class="form_row">
                    <label>Description de la proposition:</label>
                    <textarea name="description" rows="8" class="form-control"></textarea>
                </div>
                <div class="form_row">
                    <label>Auteur·trice de la proposition:</label>
                    <input type="text" name="title" value="{{ user_full_name }}" disabled="disabled" />
                </div>
                <input type="submit" value="Enregistrer" class="account_button">
            </form>
        </div>
    </div>
</div>
{% endblock %}
