{% extends "mainApp/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Propose ta pétition?</h1>
            <form action="{% url "mainApp:addNewPetition" %}" method="POST"
                enctype="multipart/form-data">

                {% csrf_token %}
                title: <input type="text" name="title" /><br>
                img: <input type="file" name="image" /><br>
                desc: <textarea name="description" rows="8" cols="80"></textarea><br>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}
