{% extends "mainApp/base.html" %}
{% load extras_tags %}

{% block content %}

<input type="hidden" id="vote_csrf_token" value="{{ csrf_token }}" />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="header">
            <h1 class="header_h1">Projet terminé !</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <h1>Le sondage de {{ city_name }} est terminé !</h1>
        <p>Le sondage s'est terminé à la fin décembre 2022.<br>Merci pour ta participation 🙏 </p>
        {% if report_pdf_path %}
            <p><a href="{{ report_pdf_path }}" class="fs-2 a_no_underline">📝</a> <a href="{{ report_pdf_path }}">Consulter les résultats (PDF)</a></p>
        {% else %}
            <p>⌛ Résultats accessibles ici prochainement ...</p>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}
